In [1]:
import geopandas as gpd
import pandas as pd
from shapely.geometry import Point, box
import osmnx as ox

foodatlas=pd.read_csv("data\Food Access Research Atlas.csv")
snap = pd.read_csv("data\Historical SNAP Retailer Locator Data 2004-2024.csv", 
                   encoding='utf-8', 
                   encoding_errors='replace')
place=gpd.read_file("data\PLACES__Census_Tract_Data_(GIS_Friendly_Format),_2024_release_20251126.geojson")

<>:6: SyntaxWarning: invalid escape sequence '\F'
<>:7: SyntaxWarning: invalid escape sequence '\H'
<>:10: SyntaxWarning: invalid escape sequence '\P'
<>:6: SyntaxWarning: invalid escape sequence '\F'
<>:7: SyntaxWarning: invalid escape sequence '\H'
<>:10: SyntaxWarning: invalid escape sequence '\P'
C:\Users\wensh\AppData\Local\Temp\ipykernel_3976\3455820211.py:6: SyntaxWarning: invalid escape sequence '\F'
  foodatlas=pd.read_csv("data\Food Access Research Atlas.csv")
C:\Users\wensh\AppData\Local\Temp\ipykernel_3976\3455820211.py:7: SyntaxWarning: invalid escape sequence '\H'
  snap = pd.read_csv("data\Historical SNAP Retailer Locator Data 2004-2024.csv",
C:\Users\wensh\AppData\Local\Temp\ipykernel_3976\3455820211.py:10: SyntaxWarning: invalid escape sequence '\P'
  place=gpd.read_file("data\PLACES__Census_Tract_Data_(GIS_Friendly_Format),_2024_release_20251126.geojson")
C:\Users\wensh\AppData\Local\Temp\ipykernel_3976\3455820211.py:7: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  snap = pd.read_csv("data\Historical SNAP Retailer Locator Data 2004-2024.csv",

In [2]:
phillysnap=snap.loc[snap['County'] == 'PHILADELPHIA']
phillysnapfiltered=phillysnap.loc[phillysnap['End Date'].isna()]
phillygeo = [Point(xy) for xy in zip(phillysnapfiltered['Longitude'], phillysnapfiltered['Latitude'])]
snapgdf=gpd.GeoDataFrame(phillysnapfiltered,geometry=phillygeo)
snapgdf.set_crs(epsg=4326, inplace=True)
snapgdf.to_crs(epsg=2272)

,Record ID,Store Name,Store Type,Street Number,Street Name,Additional Address,City,State,Zip Code,Zip4,County,Latitude,Longitude,Authorization Date,End Date,geometry
544588,1254758,1 Stop Deli & Grocery 1,Convenience Store,3701,Germantown Ave,NaN,Philadelphia,PA,19140,3619,PHILADELPHIA,40.009357,-75.150856,08/23/2016,NaN,POINT (2696471.018 256979.057)
544590,1487550,10 Brothers Food Market Corp,Small Grocery Store,1801,W Venango St,NaN,Philadelphia,PA,19140,4019,PHILADELPHIA,40.008730,-75.158010,04/05/2022,NaN,POINT (2694474.591 256691.85)
544603,1344176,11th & Tioga Mini Market Inc,Small Grocery Store,1047,W Tioga St,NaN,Philadelphia,PA,19140,4348,PHILADELPHIA,40.005505,-75.146450,02/19/2019,NaN,POINT (2697746.062 255612.802)
544607,1044500,1312 DJ Inc. T/A VIP Market,Medium Grocery Store,1312,Walnut St,NaN,Philadelphia,PA,19107,NaN,PHILADELPHIA,39.949135,-75.162680,02/24/2012,NaN,POINT (2693802.947 234953.345)
544610,1351007,16th And York Mini Market Inc,Small Grocery Store,2401,N 16th St,NaN,Philadelphia,PA,19132,4439,PHILADELPHIA,39.989864,-75.158730,05/14/2019,NaN,POINT (2694474.619 249816.317)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
553380,1607336,Zamzam Halal Market LLC,Medium Grocery Store,7923,Bustleton Ave,NaN,Philadelphia,PA,19152,3302,PHILADELPHIA,40.057404,-75.052610,08/19/2024,NaN,POINT (2723445.028 275298.927)
553383,1416224,Zapata Mini Market Inc,Small Grocery Store,910,W Duncannon Ave,NaN,Philadelphia,PA,19141,4012,PHILADELPHIA,40.030987,-75.138400,01/11/2021,NaN,POINT (2699725.733 264958.008)
553386,1518283,Zemzem Halal Poultry Inc,Meat/Poultry Specialty,6202,Oxford Ave,NaN,Philadelphia,PA,19111,5810,PHILADELPHIA,40.042240,-75.088760,10/03/2022,NaN,POINT (2713496.868 269470.423)
553392,1228403,Zheng Mini Market,Small Grocery Store,1701,S Bancroft St,NaN,Philadelphia,PA,19145,2204,PHILADELPHIA,39.929653,-75.172410,03/18/2016,NaN,POINT (2691283.232 227779.639)
553394,1267170,Zhu Juan Ling 1,Convenience Store,2351,Orthodox St,NaN,Philadelphia,PA,19137,1197,PHILADELPHIA,40.006195,-75.077690,11/14/2022,NaN,POINT (2716992.163 256439.42)

In [3]:
foodatlasphilly=foodatlas.loc[foodatlas['County']=='Philadelphia County']
foodatlasphillyfiltered = foodatlasphilly[['CensusTract', 'HUNVFlag', 'TractHUNV', 'TractSNAP']]

In [4]:
placefiltered=place[['tractfips','obesity_crudeprev']]

In [ ]:
import pandas as pd
import cenpy
from cenpy import products

acs = cenpy.remote.APIConnection('ACSDT5Y2023')
demographic_vars = [
    "B01003_001E",
    "B02001_003E",
    "B03003_003E",
]

economic_vars = [
    "B19013_001E",
    "B17001_002E",
    "B17001_001E",
    "B23025_005E",
    "B23025_003E",
    "B22003_002E",
    "B22003_001E",
]

all_vars = demographic_vars + economic_vars

var_names = {
    "B01003_001E": "total_population",
    "B02001_003E": "black_alone",
    "B03003_003E": "hispanic_latino",
    "B19013_001E": "median_household_income",
    "B17001_002E": "poverty_total",
    "B17001_001E": "poverty_universe",
    "B23025_005E": "unemployed",
    "B23025_003E": "labor_force",
    "B22003_002E": "snap_recipients",
    "B22003_001E": "snap_universe",
}

census_data = acs.query(
    cols=all_vars,
    geo_unit='tract',
    geo_filter={
        'state': '42',
        'county': '101'
    }
)

print(f"Downloaded {len(census_data)} census tracts")


census_data.rename(columns=var_names, inplace=True)


for col in var_names.values():
    census_data[col] = pd.to_numeric(census_data[col], errors='coerce')

print("Calculating derived metrics...")

census_data["poverty_rate"] = census_data["poverty_total"] / census_data["poverty_universe"] * 100
census_data["unemployment_rate"] = census_data["unemployed"] / census_data["labor_force"] * 100
census_data["snap_rate"] = census_data["snap_recipients"] / census_data["snap_universe"] * 100
census_data["pct_black"] = census_data["black_alone"] / census_data["total_population"] * 100
census_data["pct_hispanic"] = census_data["hispanic_latino"] / census_data["total_population"] * 100

print("Done.")

c:\Users\wensh\miniconda3\envs\geospatial\Lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

Downloaded 408 census tracts
Calculating derived metrics...
Done.

In [7]:
import pygris 
tracts_gdf = pygris.tracts(
    state='42',
    county='101',
    year=2023,
    cache=True
)
tracts_gdf['tract'] = tracts_gdf['TRACTCE']
merged_gdf = tracts_gdf.merge(
    census_data[["median_household_income",'poverty_rate',"unemployment_rate","snap_rate","pct_black","pct_hispanic",'state', 'county','tract']],
    on='tract',
    how='left'
)
merged_gdf

,STATEFP,COUNTYFP,TRACTCE,GEOID,GEOIDFQ,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,...,geometry,tract,median_household_income,poverty_rate,unemployment_rate,snap_rate,pct_black,pct_hispanic,state,county
0,42,101,036501,42101036501,1400000US42101036501,365.01,Census Tract 365.01,G5020,S,1816210,...,"POLYGON ((-75.02371 40.13005, -75.02301 40.130...",036501,83697,16.620380,7.529674,12.488263,8.717105,4.954770,42,101
1,42,101,000801,42101000801,1400000US42101000801,8.01,Census Tract 8.01,G5020,S,99957,...,"POLYGON ((-75.18329 39.94951, -75.18166 39.951...",000801,130096,5.495818,1.140994,1.919192,1.981352,2.680653,42,101
2,42,101,026301,42101026301,1400000US42101026301,263.01,Census Tract 263.01,G5020,S,406340,...,"POLYGON ((-75.16899 40.07147, -75.16864 40.071...",026301,67379,6.746411,10.391978,21.511274,89.688995,2.631579,42,101
3,42,101,029200,42101029200,1400000US42101029200,292,Census Tract 292,G5020,S,1745920,...,"POLYGON ((-75.11288 40.02746, -75.1128 40.0274...",029200,77816,15.125628,8.863920,40.872727,35.000000,29.723618,42,101
4,42,101,024400,42101024400,1400000US42101024400,244,Census Tract 244,G5020,S,421189,...,"POLYGON ((-75.16912 40.02386, -75.16843 40.024...",024400,53333,32.774547,2.551020,42.678869,82.911825,2.118934,42,101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403,42,101,008702,42101008702,1400000US42101008702,87.02,Census Tract 87.02,G5020,S,283544,...,"POLYGON ((-75.20933 39.95144, -75.2093 39.9519...",008702,56181,33.300557,5.303030,13.758389,9.810513,6.356968,42,101
404,42,101,008101,42101008101,1400000US42101008101,81.01,Census Tract 81.01,G5020,S,243881,...,"POLYGON ((-75.23996 39.94641, -75.23985 39.946...",008101,47614,31.728582,20.243205,43.173077,85.784685,2.956785,42,101
405,42,101,001002,42101001002,1400000US42101001002,10.02,Census Tract 10.02,G5020,S,471655,...,"POLYGON ((-75.15065 39.94234, -75.15054 39.942...",001002,137250,5.023095,2.356722,2.203237,0.801603,2.089894,42,101
406,42,101,030502,42101030502,1400000US42101030502,305.02,Census Tract 305.02,G5020,S,699364,...,"POLYGON ((-75.11115 40.04219, -75.11104 40.042...",030502,50245,24.410500,8.403042,50.979295,34.494465,28.457565,42,101
407,42,101,031502,42101031502,1400000US42101031502,315.02,Census Tract 315.02,G5020,S,621108,...,"POLYGON ((-75.06154 40.03821, -75.06119 40.038...",031502,45282,14.790103,8.655044,18.401207,7.256047,16.180150,42,101

In [8]:
foodstore = ox.features_from_place(
    "Philadelphia, PA", tags={"shop": ["food", "supermarket", "grocery"]}
)

foodstore_proj=foodstore.to_crs(epsg=2272)
foodstore_proj

                                                             geometry  \
element id
node    333786275                      POINT (2695146.894 232695.852)
        412338071                      POINT (2674667.109 268971.021)
        977690451                       POINT (2700192.07 242343.761)
        1698143876                     POINT (2726204.778 266598.582)
        1702834399                      POINT (2695578.405 237102.18)
...                                                               ...
way     1218089830  POLYGON ((2703022.93 243686.476, 2703023.647 2...
        1218306122  POLYGON ((2702708.097 245777.165, 2702692.474 ...
        1220520339  POLYGON ((2702298.207 251536.881, 2702298.411 ...
        1305649715  POLYGON ((2670809.569 222595.848, 2670806.505 ...
        1315830027  POLYGON ((2701119.164 238748.854, 2701089.035 ...

                       addr:city addr:housenumber addr:postcode addr:state  \
element id
node    333786275   Philadelphia              929         19147         PA
        412338071   Philadelphia             6901         19128         PA
        977690451   Philadelphia              180         19123         PA
        1698143876           NaN              NaN           NaN        NaN
        1702834399  Philadelphia              146           NaN        NaN
...                          ...              ...           ...        ...
way     1218089830  Philadelphia             1255         19125         PA
        1218306122  Philadelphia             2200         19125         PA
        1220520339  Philadelphia             2852         19133         PA
        1305649715  Philadelphia             7298         19153         PA
        1315830027           NaN              NaN           NaN        NaN

                           addr:street        branch                   brand  \
element id
node    333786275         South Street  South Street      Whole Foods Market
        412338071         Ridge Avenue    Roxborough                ShopRite
        977690451   West Girard Avenue           NaN                    Acme
        1698143876                 NaN           NaN                     NaN
        1702834399   North 10th Street           NaN                     NaN
...                                ...           ...                     ...
way     1218089830  East Palmer Street           NaN                     NaN
        1218306122  East Norris Street           NaN                     NaN
        1220520339  North Front Street           NaN                     NaN
        1305649715     Woodland Avenue           NaN                     NaN
        1315830027                 NaN           NaN  Sprouts Farmers Market

                   brand:wikidata  check_date  ... diet:natural_foods  \
element id                                     ...
node    333786275        Q1809448  2025-10-25  ...                NaN
        412338071        Q7501097  2023-09-27  ...                NaN
        977690451         Q341975  2024-04-06  ...                NaN
        1698143876            NaN         NaN  ...                NaN
        1702834399            NaN         NaN  ...                NaN
...                           ...         ...  ...                ...
way     1218089830            NaN         NaN  ...                NaN
        1218306122            NaN         NaN  ...                NaN
        1220520339            NaN         NaN  ...                NaN
        1305649715            NaN         NaN  ...                NaN
        1315830027       Q7581369         NaN  ...                NaN

                   diet:vegan diet:vegetarian diet:halal level  \
element id
node    333786275         NaN             NaN        NaN   NaN
        412338071         NaN             NaN        NaN   NaN
        977690451         NaN             NaN        NaN   NaN
        1698143876        NaN             NaN        NaN   NaN
        1702834399        NaN             NaN        NaN   NaN
...                       ...             ...        ...   ...
way     1218089830        NaN             NaN        NaN   NaN
        1218306122        yes             yes        NaN   NaN
        1220520339        NaN             NaN        NaN   NaN
        1305649715        NaN             NaN        NaN   NaN
        1315830027        NaN             NaN        NaN   NaN

                   operator:wikidata  atm facebook drive_through diet:dairy
element id
node    333786275                NaN  NaN      NaN           NaN        NaN
        412338071                NaN  NaN      NaN           NaN        NaN
        977690451                NaN  NaN      NaN           NaN        NaN
        1698143876               NaN  NaN      NaN           NaN        NaN
        1702834399               NaN  NaN      NaN           NaN        NaN
...                              ...  ...      ...           ...        ...
way     1218089830               NaN  NaN      NaN            no        NaN
        1218306122               NaN  NaN      NaN           NaN        yes
        1220520339               NaN  NaN      NaN           NaN        NaN
        1305649715               NaN  NaN      NaN           NaN        NaN
        1315830027               NaN  NaN      NaN           NaN        NaN

[151 rows x 78 columns]

In [9]:
philly=gpd.read_file("data\City_Limits.geojson")

<>:1: SyntaxWarning: invalid escape sequence '\C'
<>:1: SyntaxWarning: invalid escape sequence '\C'
C:\Users\wensh\AppData\Local\Temp\ipykernel_3976\2952056647.py:1: SyntaxWarning: invalid escape sequence '\C'
  philly=gpd.read_file("data\City_Limits.geojson")

In [10]:
import numpy as np
grid_size = 100  # meters
minx, miny, maxx, maxy = philly.total_bounds
x_coords = np.arange(minx, maxx + grid_size, grid_size)
y_coords = np.arange(miny, maxy + grid_size, grid_size)

In [11]:
philly_proj=philly.to_crs(epsg=2272)
polygons = []
for x in x_coords[:-1]:
    for y in y_coords[:-1]:
        polygons.append(box(x, y, x + grid_size, y + grid_size))

grid = gpd.GeoDataFrame({'geometry': polygons}, crs=philly_proj.crs)
grid = gpd.overlay(grid, philly_proj, how='intersection')
grid['centroid'] = grid.centroid
centroids = grid.set_geometry('centroid')

In [12]:
G = ox.graph_from_place("Philadelphia, Pennsylvania, USA", network_type='drive')
G = ox.project_graph(G, to_crs="EPSG:2272")
foodstore_proj['geometry'] = foodstore_proj.geometry.centroid
foodstore_proj_x = foodstore_proj.geometry.x.values
foodstore_proj_y = foodstore_proj.geometry.y.values
centroid_nodes = ox.distance.nearest_nodes(G,
                                           X=centroids.geometry.x.values,
                                           Y=centroids.geometry.y.values)
food_nodes = ox.distance.nearest_nodes(G,
                                       X=foodstore_proj_x,
                                       Y=foodstore_proj_y)
snap_nodes = ox.distance.nearest_nodes(G,
                                       X=snapgdf.geometry.x.values,
                                       Y=snapgdf.geometry.y.values)

In [ ]:
import networkx as nx
# Convert nearest nodes to Python lists
food_nodes = food_nodes.tolist()
snap_nodes = snap_nodes.tolist()
centroid_nodes = centroid_nodes.tolist()

print("Calculating distances to food stores...")
food_dist_dict = nx.multi_source_dijkstra_path_length(G, food_nodes, weight='length')

print("Calculating distances to SNAP retailers...")
snap_dist_dict = nx.multi_source_dijkstra_path_length(G, snap_nodes, weight='length')

# Map distances back to centroids
centroids['dist_food_ft'] = [food_dist_dict.get(n, np.nan) for n in centroid_nodes]
centroids['dist_snap_ft'] = [snap_dist_dict.get(n, np.nan) for n in centroid_nodes]

# Convert to meters if desired
centroids['dist_food_m'] = centroids['dist_food_ft'] * 0.3048
centroids['dist_snap_m'] = centroids['dist_snap_ft'] * 0.3048

grid['dist_food_ft'] = centroids['dist_food_ft'].values
grid['dist_snap_ft'] = centroids['dist_snap_ft'].values
grid['dist_food_m'] = centroids['dist_food_m'].values
grid['dist_snap_m'] = centroids['dist_snap_m'].values

Calculating distances to food stores...
Calculating distances to SNAP retailers...

In [17]:
grid['centroid'] = grid.centroid
grid_centroids = grid.set_geometry('centroid')

# Spatial join: each centroid inherits census attributes from the polygon it falls into
grid_with_census = gpd.sjoin(grid_centroids, merged_gdf, how='left', predicate='within')

# Reset geometry to grid polygons
grid_with_census = grid_with_census.set_geometry(grid['geometry'])

C:\Users\wensh\AppData\Local\Temp\ipykernel_3976\4159760126.py:5: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: EPSG:2272
Right CRS: EPSG:4269

  grid_with_census = gpd.sjoin(grid_centroids, merged_gdf, how='left', predicate='within')

C:\Users\wensh\AppData\Local\Temp\ipykernel_3976\674124914.py:2: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: EPSG:4269
Right CRS: EPSG:2272

  intersect = gpd.overlay(merged_gdf, grid, how='intersection')